<html>
    <head></head>
    <body>
        <div>
            <form method="POST">
                <label>Name: 
                    <input type="text" name="name" value={{profile[0]}}> 
                </label>
                <br/><br/>
                <label>Email: 
                    <input type="text" name="email" value={{profile[1]}}>
                </label>
                <br/><br/>
                <label>Address: 
                    <input type="text" name="address"  value={{profile[2]}}>
                </label>
                <br/><br/>
                <label>Phone number: 
                    <input type="number" name="phoneno" value={{profile[3]}}>
                </label>
                <br/><br/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>
