<html>
    <head></head>
    <body>
        <div>
            <form method="POST">
                <label>Name: 
                    <input type="text" name="name" value="{{resume[0]}}"> 
                </label>
                <br/><br/>
                <label>Qualification: 
                    <input type="text" name="qualf" value="{{resume[1]}}">
                </label>
                <br/><br/>
                <label>Experience: 
                    <input type="text" name="expr"  value="{{resume[2]}}">
                </label>
                <br/><br/>
                <label>Skills:
                    <textarea rows="10" cols="10" name="skills">{{oldsk}}</textarea>
                </label>
                <br/><br/>
                <input type="submit" value="Submit"/>
            </form>
        </div>
    </body>
</html>
